/* secton started*/
#curriculum-section {
    background-image: url(assets/bg.png);
    width: 1200px;
    height: 800px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.curriculum-section-title{
    font-size: 46px;
font-weight: 700;
text-align:center;
}

.curriculum-cards {
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 1rem;

}

.curriculum-cards-description {
    width: 320px;
    height: 476.78px;
    padding: 2rem;
    border: 1px solid red;
    text-align: center;

}

.curriculum-cards1 {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

.curriculum-cards2 {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),
            rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.curriculum-cards3 {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);

}

/*story section started*/

#story-section {
    background-image: linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%),
        url(assets/bg.png);
    width: 1200px;
    height: 900px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}

.story-section-title {
    text-align: center;
    padding: 2rem;
    font-size: 36px;
    font-weight: 500;
}

.story {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.story-details {

    height: 600px;
    display: flex;
    justify-content: center;
    gap: 1.25rem;



}

.story-description {

    background-color: white;

    position: relative;
    border-radius: 1rem;
    ;

}

.image-1 {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.story-date-bar-1 {
    width: 174.51px;
    height: 47.93px;
    border-radius: 3rem;
    position: absolute;
    background: rgb(60, 216, 232);
    margin-top: -25px;
    left: 2rem;
    text-align: center;
}

.story-content {

    padding: 1.5rem;
}

.story-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.story-image-card {
    width: 290px;
    height: 273px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
}

.story-image-card img {
    border-radius: .5rem .5rem 0 0;

}

.story-date-bar-2 {
    width: 136.46px;
    height: 2rem;
    border-radius: 3rem;
    position: absolute;


    background: rgb(149, 178, 38);
    margin-top: -25px;
    left: 2rem;

}

.story-date-bar-3 {
    width: 136.46px;
    height: 2rem;
    border-radius: 3rem;
    position: absolute;


    background: rgb(93, 88, 240);
    margin-top: -25px;
    left: 2rem;

}

.story-date-2 {
    text-align: center;
    font-size: .75rem;
    font-weight: 500;
    color: white;
}

.story-image-card-para {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin: 1.5rem 0 0 1.5rem;
}

.story-image-card-hide {
    display: none;
}

.story-button {
    margin-top: 2rem;
    text-align: center;
}

.story-btn {
    border-radius: 12px;

    padding: 1.2rem 2.2rem 1.2rem 2.2rem;
    background: rgb(17, 17, 17);
    color: aliceblue;
    text-align: center;
}

/*story section ended*/

@media screen and (max-width:688px) {
    #curriculum-section{
        width:100%;
        height: 1200px;
    }
    .curriculum-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .curriculum-cards-description{
        width: 100%;
        height: 320px;
    }

    /*story section started*/
    #story-section {
        width: 100%;
        height: 1050px;
        position: relative;

    }

    .story-section-title {
        padding: 0rem;
        margin-bottom: 8rem;
    }

    .story-description {
        display: none;
    }

    .story-details {

        display: flex;

        flex-direction: column-reverse;

    }

    .story-image {
        width: 100%;

        display: grid;

        margin-top: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

    }

    .story-image-card {
        width: 100%;
        border: .25px solid gray;

    }

    .story-image-card-hide {
        display: block;
    }

    .story-content {
        padding: 0rem;
    }

    .story-image-card img {
        width: 100%;
    }

    .story-button {
        margin-top: 2rem;

        position: absolute;


    }

    .story-btn {

        margin-top: 150px;
        margin-left: 130px;



    }

    /*story section ended*/

}